<!DOCTYPE html>
<html lang="en" class="h-full bg-white">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='dist/css/output.css')}}">
    <title>Forgot Password</title>
</head>
<header class="fixed top-0 left-0 right-0 bg-orange-600 p-4 text-white text-center">
    <h1 class="mt-1 text-center text-2x1 font-bold leading-1 tracking-tight text-white-900">Auto Priority Classification System</h1>
</header>
<body class="h-full flex items-center justify-center bg-gray-100">
    <div class="px-12 py-12 lg:px-8 bg-white rounded-md shadow-md max-w-xl w-full">
        <div class="mt-2 px-5">
            <h2 class="text-2xl font-bold leading-9 tracking-tight text-gray-900 text-center">Forgot Password</h2>
            <p class="mt-2 text-sm leading-5 text-gray-500 text-center">
                Please enter your email and follow the instructions to reset your password.
            </p>
            <form action="{{ url_for('forgot_password') }}" method="post" class="mt-12">
                <label for="email" class="text-gray-500">Email</label>
                <input type="email" id="email" name="email" required class="w-full border-gray-300 rounded-md shadow-sm focus:border-orange-500 focus:ring focus:ring-orange-500 focus:ring-opacity-50">
                <div class="mt-4">
                    <button type="submit" class="w-full flex justify-center rounded-md bg-orange-600 px-4 py-2 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-orange-500 focus:outline-none focus:border-orange-700 focus:ring focus:ring-orange-500 focus:ring-opacity-50">Reset Password</button>
                </div>
            </form>
            <a href='/' class="block mt-12 text-center font-semibold leading-6 text-orange-600 hover:text-orange-500">Return to Login page</a>
        </div>
    </div>
</body>
</html>
