<!DOCTYPE html>
<html lang="en" class="h-full bg-white">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='dist/css/output.css')}}">
    <title>Verification Prompt</title>
</head>
<body class="h-full">
    <div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
        <div class="fixed top-0 left-0 right-0 bg-orange-600 p-4 text-white text-center">
            <h1 class="mt-1 text-center text-2x1 font-bold leading-1 tracking-tight text-gray-900">Auto Priority Classification System</h2>
        </div>
        <div class="sm:mx-auto sm:w-full sm:max-w-m">
            <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Account Verification</h2>
            <br />
            <p class="mt-5 text-center text-sm leading-5 text-gray-500">
                Please check your email and follow the instructions to verify your account.
                <br /><br />
                <a href='/' class="font-semibold leading-6 text-orange-600 hover:text-orange-500">Return to Login page</a>
            </p>
        </div>
    </div>
</body>
</html>
